build/
ultralight-free-sdk-1.4.0-linux-x64/
ultralight-free-sdk-1.4.0-win-x64/

pkg/

build-hyprland/
build-gnome/
build-windows/
build-niri/
build-kde/
build-sway/
build-x11/
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
