pkgbase = ultralightwebcursor-git
	pkgdesc = Programmable HTML/CSS/JS animated cursor for Linux X11 and XWayland
	pkgver = 1.1.0.r121.g8dc45f0
	pkgrel = 1
	url = https://github.com/LuYishan-4/Animated_UltralightWeb_Cursor
	arch = x86_64
	license = MIT
	license = LicenseRef-Ultralight-Free-SDK
	checkdepends = appstream
	checkdepends = desktop-file-utils
	makedepends = cmake
	makedepends = git
	makedepends = 7zip
	depends = at-spi2-core
	depends = bzip2
	depends = cairo
	depends = fontconfig
	depends = gcc-libs
	depends = gdk-pixbuf2
	depends = glib2
	depends = glibc
	depends = gtk3
	depends = harfbuzz
	depends = hicolor-icon-theme
	depends = libglvnd
	depends = libx11
	depends = libxfixes
	depends = pango
	depends = qt6-base
	depends = qt6-declarative
	depends = xcb-util-cursor
	provides = ultralightwebcursor=1.1.0.r121.g8dc45f0
	conflicts = ultralightwebcursor
	options = !strip
	source = git+https://github.com/LuYishan-4/Animated_UltralightWeb_Cursor.git
	sha256sums = SKIP

pkgname = ultralightwebcursor-git
