[Desktop Entry]
Type=Application
Name=Ultralight Web Cursor
Name[zh_TW]=Ultralight Web Cursor
GenericName=Cursor Settings
GenericName[zh_TW]=游標設定
Comment=Configure the animated HTML/CSS cursor
Comment[zh_TW]=設定 HTML/CSS 動畫游標
Exec=ultralightwebcursor-gui
Icon=org.ultralightwebcursor
Terminal=false
Categories=Settings;Qt;
Keywords=cursor;mouse;pointer;animation;theme;web cursor;ultralight;
Keywords[zh_TW]=游標;鼠標;滑鼠;指示;動畫;主題;設定;
StartupNotify=true
StartupWMClass=ultralightwebcursor
